@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  --basic-color: #108e4b;
}
.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: hidden;
  background-color: aliceblue;
}
.container {
  display: flex;
  flex-direction: row;
}
.container h1{
  margin: 0;
  font-size: 2.5em;
  text-align: center;
  color: var(--basic-color);
}
.repo-container {
  width: 100%;
  max-width: 70%;
  height: 700px;
  margin-top: 0;
  margin-bottom: 2%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
  background-color: antiquewhite;
}
@media screen and (max-width: 600px) {
  .repo-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}
.repo-text {
  font-weight: 600;
  font-size: 1.2rem;
}
.repo-description {
  font-weight: 600;
  font-style: bold;
  font-size: 1.2rem;
  color: var(--basic-color);
}
.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.footer {
  font-size: 20px;
  font-weight: 600;
}
.list {
  list-style: circle;
}

a[target="_blank"] {
  font-weight:bold;
}

.div-avatar{
  width: 150px;
  height: 150px;
  left: 20%;
  top: 15%;
  border: 5px solid rgb(64, 19, 179);
}

.header-repos{
  display: flex;
  justify-content:space-around;
  align-content: space-around;
  flex-wrap: wrap;
}